.user-info {
    color: var(--main-color-9);
}

.title {
    text-align: center;
}

.info-table {
    border-collapse: collapse;
    width: 360px;
    margin: 0 auto;
    background-color: var(--main-color-2);
}

.line2 {
    padding-left: 4px;
}

td, th {
    border: 2px solid var(--main-color-9);
}

tr:nth-child(even) {
    background-color: var(--main-color-3);
}

.line {
    width: 130px;
    padding: 4px;
    text-align: left;
}

.line2 {
    padding-right: 4px;
    text-align: right;
}

.logout {
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

#buttons {
    width: 360px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.users {
    margin-top: 10px;
    margin-left: 20px;
    width: 100px;
    float: left;
}

.assets {
    margin-top: 10px;
    float: right;
    margin-right: 20px;
}

.new {
    margin: 0 auto;
    width: 150px;
    box-shadow: 0 2px #999;
}

.new:hover {
    background-color: var(--main-color-6);
}

.new:active {
    background-color: var(--main-color-6);
    box-shadow: 0 1px #666;
    transform: translateY(1px);
}

#formTicket {
    margin: 0 auto;
    width: 450px;
    margin-top: 5px;
    background-color: var(--main-color-2);
    -webkit-box-shadow: 0px 0px 5px 0px #000000;
    -moz-box-shadow: 0px 0px 5px 0px #000000;
    -o-box-shadow: 0px 0px 5px 0px #000000;
    box-shadow: 0px 0px 5px 0px #000000;
    padding-bottom: 2px;
}

#date-input {
    text-align: center;
    width: 130px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    display: none;
}

#text-area {
    width: 305px;
    border: 1px solid var(--main-color-7);
    margin-left: 0;
    margin-top: 1px;
}

#username-input {
    float: left;
    width: 127px;
}

#left-area {
    float: left;
}

#select {
    float: left;
    width: 135px;
    height: 26px;
    margin-left: 1px;
    
}

#confim-button {
    margin-bottom: 2px;
    margin-top: 2px;
}

#ticket-table {
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 20px;
}

.button-table {
    float: left;
    
}

#ticket-table th,td {
    padding: 5px 5px;
    text-align: center;
}

